---
slug: account/forgot-password
layout_name: 1col
metadata:
  title: Forgot your Password?
---
{% if flash.notice != blank %}<p>{{ flash.notice }}</p>{% endif %}
{% render_form 'forgot_password', parent_resource_id: 'reset_password' %}
