.footer {
  background: #626487;
  .social-media {
    background: #626487;
    .images {
      padding: 2%;
      display: flex;
      justify-content: center;
      img {
        margin: 1.25rem;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  .links {
    background: #626487;
    display: flex;
    justify-content: space-evenly;
    li {
      list-style: none;
      margin-top: 20px;
      margin-bottom: 20px;
      a {
        font-family: 'gothamPro';
        font-size: 11px;
        color: #ffffff;
        letter-spacing: 0;
        text-align: center;
      }
    }
    &.row {
      margin: 0;
    }
  }
  .copyright {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    background: #54567b;
    p {
      margin: auto;
      font-family: 'gothamPro';
      font-size: 10px;
      color: #9a9ab2;
      letter-spacing: 0;
    }
    &.row {
      margin: 0;
    }
  }
}
