header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .top-bar {
    background-color: transparent;
    .container {
      display: flex;
      align-items: center;
    }
    ul {
      background-color: transparent;
    }
    .top-bar-right {
      ul {
        a {
          color: $primary-heavy;
          font-size: $font-size-default;
        }
        .is-active {
          a {
            color: $primary-heavy;
            text-decoration: underline;
          }
        }
      }
    }
    .header-logo {
      img {
        height: $logo-height;
      }
    }
  }
}
