.h-title-1 {
  /* Evolve: */
  font-family: 'gothamMedium';
  font-size: 34px;
  color: #616386;
  letter-spacing: 0;
}
.font-gothamPro {
  font-family: 'gothamPro';
}
.font-gothamMedium {
  font-family: 'gothamMedium';
}
.font-gothamLight {
  font-family: 'gothamLight';
}
.font-gothamProBold {
  font-family: 'gothamProBold';
}
.content-paragraph {
  /* Th?ese business deve: */
  font-family: 'gothamPro';
  font-size: 14px;
  color: #9a9ab2;
  letter-spacing: 0;
  line-height: 26px;
}
.middle-quote {
  font-family: Helvetica;
  font-size: 18px;
  color: #616386;
  letter-spacing: 0;
  line-height: 30px;
  text-align: center;
}
.txt-center {
  padding-right: 10%;
  padding-left: 10%;
}
.b-pa {
  padding-bottom: 4%;
}
