<div class="top-section" style="background-image: url(https://i.imgur.com/PtIR0Ix.png);">
  <div class="info-card container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="h-title-1 font-gothamLight b-pa"> Contact </h1>
        <ul class="col-md-12 col-sm-12">
          <li>
            <h3>Address</h3>
            <p>252 Willow St, Manchester, NH  03103</p>
          </li>
          <li>
            <h3>TEST</h3>
            <p>SOME CONTENT HERE</p>
          </li>
          <li>
            <h3>TEST</h3>
            <p>SOME CONTENT HERE</p>
          </li>
          <li>
            <h3>TEST</h3>
            <p>SOME CONTENT HERE</p>
          </li>
          <li>
            <h3>TEST</h3>
            <p>SOME CONTENT HERE</p>
          </li>
        </ul>
        <div class="bottom-link">
          <button><img src="./img/facebook.svg"></button>
          <button><i class="fab fa-instagram"></i></button>
          <button><img src="./img/snapchat.svg"></button>
          <button><img src="./img/gplus.svg"></button>
        </div>
      </div>
    </div>
  </div>
</div>