<div class="top-gallery">
  <div class="left-section">
    <div class="text-section">
      <div class="index">20 MAY</div>
      <div class="title">Test</div>
      <div class="description">Being "Focused on your Future", we take very seriously the process we go through to decide which manufacturers we do business with and the ones
          we are going to represent in the future.
      </div>
      <div class="details">
        <button class="button-wide" href="/education.html">DETAILS</button>
      </div>
    </div>
  </div>
  <div class="right-section">
    <div class="bg-circle"></div>
    <div class="image-wrapper">
      <img src="./img/business-top.png">
    </div>
  </div>
</div>