// Defines all the colors used across the app

$primary-medium: #c0bfd6;
$primary-light: #c7c5dc;
$primary-heavy: #616386;
$primary-extra-light: #f6f6f8;
$primary-extra-heavy: #4b4e75;
$secondary-light: #eeedf5;
