<div class="flex-center">
  <img src="{{meta.imageUrl}}" style="width:200px;">
  <div>
    <h2>{{meta.description}}</h2>
    <h1>Q&A WITH {{meta.qaName}}</h1>
    <button class="medium">Watch Video</button>
    <button class="medium">Got It!</button>
  </div>