<div class="homepage__ending-section">
  <div class="container">
    <div class="row">
      <div class="columns col-lg-12 col-md-12 col-sm-12">
        <div class="image-wrapper">
            <img src="{{meta.imageUrl}}">
        </div>
        <div class="description-section">
          <p>{{meta.description}}</p>
          <h1> Q&A WITH {{meta.qaName}}</h1>
          <div class="button row">
            <div class="col-md-6 col-sm-12 col-lg">
              <button class="YT-btn"><img src="{{'images/icons/youtube_social_icon_dark.png' | asset_url}}" ><a href="/videos.html">WATCH VIDEO</a></button>
              <button class="link-btn">GOT IT!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 