.top-section-brand {
  background-size: cover;
  background-position: center center;
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.cards-section.brand {
  margin-top: 11%;
  .included {
    font-size: 24px;
    color: $primary-extra-heavy;
  }
  .card-wrapper {
    height: 400px;
    .card {
      max-width: 300px;
      margin-bottom: 0;
      .card-body {
        .card-title {
          max-width: 171px;
          align-self: center;
          font-family: 'gothamLight';
        }
        .expire-date {
          font-family: 'gothamPro';
          color: $primary-medium;
          font-size: 12px;
        }
        a {
          font-family: 'gothamMedium';
          &:hover {
            background: $primary-extra-heavy;
            color: white;
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    margin-top: 175px;
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
  }
}
