.business__page {
  /* bg: */
  background: rgba(75, 78, 117, 0.03);
  .business-section {
    height: fit-content;
    overflow-x: hidden;
    padding: 4%;
    #desktop-view {
      background: none;
      max-width: 100%;
      transition: all 2s;
      .side-bar-business {
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        .button-list {
          width: 100%;
          li {
            list-style: none;
            margin-bottom: 4%;
            margin-top: 4%;
            a {
              .anchor-button {
                margin: 0;
                font-size: 15px;
                font-family: 'gothamPro';
                outline: none;
                div {
                  text-align: start;
                  width: fit-content;
                }
                span {
                }
              }
            }
          }
        }
      }
      @media (max-width: $tablet) {
        display: none;
      }
    }
    .container {
      padding: 0;
      .row {
        margin: 0;
      }
    }
    .references {
      position: relative;
      max-width: 100%;
      display: none;
      a {
        .anchor-button {
          width: 100%;
          outline: none;
          @media (max-width: $tablet) {
            width: 100%;
            margin: 0;
            margin-bottom: 15px;
          }
        }
      }
      @media (max-width: $tablet) {
        display: block;
      }
    }
  }
}
