.top-section {
  background-size: cover;
  background-position: center center;
  height: 630px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  .info-card {
    position: relative;
    top: 25%;
    left: 15%;
    margin: 0;
    background: #ffffff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 430px;
    max-height: 450px;
    .h-title-1 {
      font-size: 32px;
      text-align: start;
    }
    .bottom-link {
      display: flex;
      justify-content: center;
      button {
        margin: 2%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: rgba(97, 99, 134, 0.1);
        border: none;
        cursor: pointer;
        outline: none;
        transition: all 0.3s;
        .fab.fa-instagram {
          color: #616386;
        }
      }
    }
  }
  @media (max-width: $tablet) {
    justify-content: center;
    .info-card {
      top: 50%;
      width: 100%;
      left: -25%;
      ul {
        li {
          float: none;
        }
      }
    }
  }
  @media (max-width: $phone) {
    .info-card {
      top: 75%;
      left: 0;
      max-width: 100%;
      .text-section {
        width: 100%;
      }
    }
  }
}
.contact__form {
  padding: 5%;
  display: flex;
  justify-content: center;
  .h-title-1 {
    text-align: center;
  }
  .form-row {
    display: flex;
    justify-content: center;
  }
  .form-control {
    background: rgba(199, 197, 220, 0.5);
    border: none;
    height: 50px;
    /* name: */
    font-family: 'gothamProBold';
    font-size: 14px;
    color: #616386;
    letter-spacing: 0;
    &::placeholder {
      color: $primary-heavy;
      font-weight: bold;
    }
  }
  textarea {
    border: none;
    background: rgba(199, 197, 220, 0.5);
    height: 120px;
    font-size: 14px;
    font-family: 'gothamProBold';
    /* Your message: */
    color: #616386;
    letter-spacing: 0;
  }
  .button-wide {
    border: 2px solid $primary-heavy;
    color: $primary-heavy;
    background: none;
    font-size: 12px;
    font-family: 'gothamMedium';
    &:hover {
      background: $primary-heavy;
      color: #ffffff;
    }
  }
  @media (max-width: $tablet) {
    padding-top: 25%;
  }
  @media (max-width: $phone) {
    padding-top: 45%;
    height: fit-content;
    .form-control {
    }
  }
}
