.brands__page > .cards-section.container {
  // display: flex;
  // justify-content: center;
  padding: 100px;
  padding-right: 15%;
  padding-left: 15%;
  /* bg: */
  background: rgba(75, 78, 117, 0.03);
  max-width: 100%;
  .row {
    .card-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .card {
        padding-top: 45px;
        max-width: 100%;
        max-height: 220px;
        &:hover {
          transform: none;
        }
        .card-body {
          padding: 20px;
          .card-title {
            font-family: 'gothamPro';
            font-size: 15px;
          }
        }
      }
    }
  }
}
.brands__page > .description.container {
  padding: 20px;
  max-width: 100%;
  .row {
    margin-top: 60px;
    margin-bottom: 60px;
    transform: translateX(-1);
    .text-section {
      width: 100%;
      h2 {
        font-family: 'gothamLight';
        font-size: 28px;
        color: #000000;
        letter-spacing: 0;
        line-height: 40px;
      }
      p {
        font-family: 'gothamPro';
        font-size: 14px;
        color: #9a9ab2;
        letter-spacing: 0;
        line-height: 26px;
      }
    }
    .image-wrapper {
      margin-left: 50px;
      margin-right: 50px;
      display: flex;
      justify-content: center;
      div {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 50%;
        width: 230px;
        height: 230px;
      }
    }
  }
}
