<div class="cards-section brand container p-5">
  <div class="row p-5">
    <div class="col-12">
      <h3 class="included text-center font-gothamPro">Promotions</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    {% for i in (1..2) -%}
      {% include 'promotions/cards' -%}
    {% endfor -%}
  </div>
  <div class="row p-5">
    <div class="col-12">
      <h3 class="included text-center font-gothamPro">Events</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    {% for i in (1..2) -%}
      {% include 'events/cards'-%}
    {% endfor -%}
  </div>
  <div class="row p-5">
    <div class="col-12">
      <h3 class="included text-center font-gothamPro">Promotions</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    {% for i in (1..2) -%}
      {% include 'events/cards' -%}
    {% endfor -%}
  </div>
</div>