<div class="top-section-brand" style="background-image: url(https://i.imgur.com/gsKEdTT.png);">
  <div class="brand-info container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-12 col-sm-12">
        <div class="row">
          <div class="brand-card pb-5 col-12">
            <div class="circle-img-top" style="background-image: url(https://i.imgur.com/P9UwSGG.png)"></div>
            <div class="content">
              <h3 class="text-center">Brand</h3>
              <p class="text-center mx-5 my-5">Sunt id consectetur laboris proident consectetur qui. Exercitation velit magna commodo non irure anim laboris magna incididunt. Duis et ipsum consequat nostrud in. Nisi id veniam consectetur officia eiusmod sint ut nisi est consequat eu anim veniam. Culpa irure elit eu esse laborum in qui veniam et aliquip amet. Do cillum tempor exercitation esse aliquip dolore sit quis aute.</p>
              <a class="mb-5 pt-5" href="#">BRANDWEBSITE.COM</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>