---
slug: admin/crm
layout_name: admin/panel
---
{% include 'admin/layout/constants' -%}
{% include 'admin/crm/records' -%}
{%- if context.location.search.id and records.size == 1 -%}
	{% assign record = records[0] -%}

	<ul class="nav nav-pills nav-pills-primary justify-content-center" role="tablist">
		<li class="nav-item"><a href="#user-content" class="nav-link active" data-toggle="tab" role="tablist" aria-expanded="true">Record</a></li>
		<li class="nav-item"><a href="#roles-content" class="nav-link" data-toggle="tab" role="tablist" aria-expanded="false">Roles</a></li>
		<li class="nav-item"><a href="#orders-content" class="nav-link" data-toggle="tab" role="tablist" aria-expanded="false">Orders</a></li>
	</ul>
	<div class="tab-content tab-space">
		<div class="tab-pane active" id="user-content" aria-expanded="true">
			<div class="card">
				<div class="card-body">
					{% render_form user, resource_id: @context.location.search.id -%}
				</div>
			</div>
		</div>
		<div class="tab-pane" id="roles-content" aria-expanded="false">
			<div class="card">
				<div class="card-body">
					{% query_graph 'fields', type:'InstanceProfileType', result_name: g %}
					{% assign profileTypes = g.cms_items.results -%}
					<script>console.log('profileTypes: ',{{profileTypes|json}})</script>
					<select class="selectpicker" data-style="select-with-transition" title="Add a role" data-size="7">
						<option value=""></option>
						{% for profileType in profileTypes -%}
							<option value="{{profileType.resource_name}}">{{profileType.resource_name}}</option>
						{% endfor -%}
					</select>

				</div>
			</div>
		</div>
		<div class="tab-pane" id="orders-content" aria-expanded="false">
			<div class="card">
				<div class="card-body">
				</div>
			</div>
		</div>
	</div>
{%- else -%}
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-sm-12 col-md-6"><h4 class="card-title">Records</h4></div>
				<div class="col-sm-12 col-md-6"><div class="toolbar text-right"></div></div>
			</div>
		</div>
		<div class="card-body">
			<table class="table table-striped table-bordered" cellspacing="0" width="100%" data-posdk-admintables="resource:user; parent:{{context.location.search.name}}; records:/admin/crm/records.json; form:/admin/crm/form.json?name=user; container:.card; buttonContainer:.toolbar; detail:true;">
				<thead></thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
{%- endif -%}
