{%- include 'layout/constants' -%}
<!DOCTYPE html>
<html lang="en">
<head>
	{%- include 'layout/head' -%}
</head>
<body class="grid-y">
	<header role="banner" id="pageheader" class="cell shrink">
		{%- include 'layout/header' -%}
	</header>
	<section id="pagecontent" class="cell auto">
		<div class="grid-x small-grid-y grid-frame">
			<main role="main" class="cell auto">
				<div class="grid-x grid-padding-x grid-padding-y">
					<div class="cell">
						{% if page.metadata.title and page.metadata.title != '' -%}<h1>{{page.metadata.title}}</h1>{% endif -%}
						{{content_for_layout}}
					</div>
				</div>
			</main>
			<aside id="aside" role="navigation" class="cell medium-4 hide-for-small-only">
				<div class="grid-x grid-padding-x grid-padding-y">
					<div class="cell">
						{{aside | html_safe}}
					</div>
				</div>
			</aside>
		</div>
	</section>
	<footer role="contentinfo" id="pagefooter" class="cell shrink">
		<div class="grid-x grid-padding-x grid-padding-y">
			<div class="cell">
				{%- include 'layout/footer' -%}
			</div>
		</div>
	</footer>
	{%- include 'layout/foot' -%}
</body>
</html>
