{%- include 'layout/constants' -%}
<!DOCTYPE html>
<html lang="en">
<head>
	{%- include 'layout/head' -%}
</head>
<body>
	<header role="banner">
		{%- include 'layout/header' -%}
	</header>
	<section>
		<div class="{{page.metadata.key}} container-fluid p-0">
			{% if page.metadata.title and page.metadata.title != '' -%}<h1>{{page.metadata.title}}</h1>{% endif -%}
			{{content_for_layout}}
		</div>
		<aside id="aside" role="navigation" class="cell medium-4 hide-for-small-only">
			<div class="grid-x grid-padding-x grid-padding-y">
				<div class="cell">
					{{aside | html_safe}}
				</div>
			</div>
		</aside>
	</section>
	<footer role="contentinfo" id="pagefooter" class="cell shrink">
		<div class="grid-x grid-padding-x grid-padding-y">
			<div class="cell">
				{%- include 'layout/footer' -%}
			</div>
		</div>
	</footer>
	{%- include 'layout/foot' -%}
</body>
</html>
