---
slug: 404
layout_name: 2col
---
<div class="notfound__main-section">
  <div class="left-section">
    <div class="bg-circle"></div>
    <div class="img-wrapper">
      <img src="{{'images/brand/404_asset.png' | asset_url}}">
    </div>
  </div>
  <div class="right-section">
    <div class="text-section">
      <div class="title">Page not found!</div>
      <div class="description">It seems that you didn't find what you were looking for but don't leave before checking our amazing products!</div>
      <div class="details">
        <button>Back Home</button>
      </div>
    </div>
  </div>
</div>