---
slug: brands
layout_name: 2col
metadata:
  key: brands__page
  topSection:
    title: Test
    description: Being "Focused on your Future", we take very seriously the process we go through to decide which manufacturers we do business with and the ones we are going to represent in the future.
    imageUrl: https://i.imgur.com/BTJTy5m.png
  promotionsSection:
    title: Elven Promotions
    date: MARCH-APRIL 2018
    description: There is a strategic reason for each product line we carry. We look for lines to have new and exciting technology
    viewAllPromotions: VIEW ALL PROMOTIONS 
    imageUrl: http://dogwood.photography/images/photography-school.jpg 
---
{%- include 'top-section/top-section-pages', meta: page.metadata.topSection -%}

<div class="cards-section container">
  <div class="row">
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="badges mt-1">
          <h2><span class="badge badge-secondary badge-pill mr-2">2 PROMOTIONS</span></h2>
          <h2><span class="badge badge-secondary badge-pill mr-2">1 EVENTS</span></h2>
        </div>
        <div class="card-img-top product" style="background-image: url(https://i.imgur.com/qv4ZYPf.png);" alt="Card image cap">
        </div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3> 
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="badges mt-1">
          <h2><span class="badge badge-secondary badge-pill mr-2">2 PROMOTIONS</span></h2>
          <h2><span class="badge badge-secondary badge-pill mr-2">2 EVENTS</span></h2>
        </div>
        <div class="card-img-top product" style="background-image: url(https://i.imgur.com/BNRvYPx.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="badges mt-1">
          <h2><span class="badge badge-secondary badge-pill mr-2">1 PROMOTIONS</span></h2>
          <h2><span class="badge badge-secondary badge-pill mr-2">1 EVENTS</span></h2>
        </div>
          <div class="card-img-top product" style="background-image: url(https://i.imgur.com/12SMPi2.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
          
        </div>
      </div> 
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="badges mt-1">
          <h2><span class="badge badge-secondary badge-pill mr-2">2 PROMOTIONS</span></h2>
          <h2><span class="badge badge-secondary badge-pill mr-2">1 EVENTS</span></h2>
        </div>
        <div class="card-img-top product" style="background-image: url(https://i.imgur.com/12SMPi2.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
          
        </div>
      </div>  
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="badges mt-1">
          <h2><span class="badge badge-secondary badge-pill mr-2">2 PROMOTIONS</span></h2>
        </div>
          <div class="card-img-top product" style="background-image: url(https://i.imgur.com/ILPdiHG.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
          
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="badges mt-1">
          <h2><span class="badge badge-secondary badge-pill mr-2">1 EVENTS</span></h2>
        </div>
          <div class="card-img-top product" style="background-image: url(https://i.imgur.com/c61KQW3.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
          
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="badges mt-1">
          <h2><span class="badge badge-secondary badge-pill mr-2">2 PROMOTIONS</span></h2>
          <h2><span class="badge badge-secondary badge-pill mr-2">1 EVENTS</span></h2>
        </div>
          <div class="card-img-top product" style="background-image: url(https://i.imgur.com/P9UwSGG.png);" alt="Card image cap"></div>
          <div class="card-body">
            <h3 class="card-title">Product Data</h3>
          </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card">
          <div class="card-img-top product" style="background-image: url(https://i.imgur.com/c61KQW3.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="card-img-top product" style="background-image: url(https://i.imgur.com/c61KQW3.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card">
          <div class="card-img-top product" style="background-image: url(https://i.imgur.com/c61KQW3.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="card-img-top product" style="background-image: url(./img/product-2.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="card-img-top product" style="background-image: url(./img/product-2.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{%- include 'home/promotions' meta: page.metadata.promotionsSection -%}
<hr>
<div class="description container">
  <div class="row justify-content-sm-center">
    <div class="text-section col-lg-3 col-sm-12 order-sm-2 order-lg-1 order-xl-1">
      <h2>The quality of the product has to be there. </h2>
      <p>We have a team of educators continually testing products for us. We established benchmark criteria and an evaluation system that each and every product needs to meet. We understand our salon owners and stylists have come to expect certain quality standards for the products they represent. Our businesses are linked together, and we are constantly analyzing new trends and technology to bring to the salons.</p>
    </div>
    <div class="image-wrapper col-sm-12 col-lg-3 order-sm-1 order-lg-2 order-xl-2">
      <div style="background-image: url(https://i.imgur.com/BTJTy5m.png);"></div>
    </div>
  </div>
  <div class="row justify-content-sm-center  align-items-lg-center">  
    <div class="image-wrapper col-sm-12 col-lg-3">
      <div style="background-image: url(https://i.imgur.com/c7HSvzs.png);"></div>
    </div>
    <div class="text-section col-lg-3 col-sm-12">
      <h2>There are hundreds of great quality product lines in our industry. </h2>
      <p>We have a team of educators continually testing products for us. We established benchmark criteria and an evaluation system that each and every product needs to meet. We understand our salon owners and stylists have come to expect certain quality standards for the products they represent. Our businesses are linked together, and we are constantly analyzing new trends and technology to bring to the salons.</p>
    </div>
  </div>
  <div class="row justify-content-sm-center align-items-lg-center">
    <div class="text-section col-lg-3 col-sm-12 order-sm-2 order-lg-1 order-xl-1">
      <h2>There is a strategic reason for each product line we carry. </h2>
      <p>We have a team of educators continually testing products for us. We established benchmark criteria and an evaluation system that each and every product needs to meet. We understand our salon owners and stylists have come to expect certain quality standards for the products they represent. Our businesses are linked together, and we are constantly analyzing new trends and technology to bring to the salons.</p>
    </div>
    <div class="image-wrapper col-sm-12 col-lg-3 order-sm-1 order-lg-2 order-xl-2">
      <div style="background-image: url(https://i.imgur.com/eFpGUMD.png);"></div>
    </div>
  </div>
</div>