---
slug: contact
layout_name: 2col
metadata:
  key: contact__page
  topSection:
   imageUrl: http://dogwood.photography/images/photography-school.jpg
---

<div class="top-section" style="background-image: url(https://i.imgur.com/PtIR0Ix.png);">
  <div class="info-card container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="h-title-1 font-gothamLight b-pa"> Contact </h1>
        <ul class="col-md-12 col-sm-12">
          <li>
            <h3>Address</h3>
            <p>252 Willow St, Manchester, NH  03103</p>
          </li>
          <li>
            <h3>TEST</h3>
            <p>SOME CONTENT HERE</p>
          </li>
          <li>
            <h3>TEST</h3>
            <p>SOME CONTENT HERE</p>
          </li>
          <li>
            <h3>TEST</h3>
            <p>SOME CONTENT HERE</p>
          </li>
          <li>
            <h3>TEST</h3>
            <p>SOME CONTENT HERE</p>
          </li>
        </ul>
        <div class="bottom-link">
          <button><img src="./img/facebook.svg"></button>
          <button><i class="fab fa-instagram"></i></button>
          <button><img src="./img/snapchat.svg"></button>
          <button><img src="./img/gplus.svg"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact__form">
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-12">
        <h1 class="h-title-1">Get in touch</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <form class="col-xl-5 col-lg-6">
        <div class="form-row">
          <div class="form-group col-lg-5 col-md-6">
            <input type="text" required class="form-control form-control-lg">
          </div>
          <div class="form-group col-lg-5 col-md-6">
            <input type="text" required class="form-control form-control-lg">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-10">
            <textarea class="w-100"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-10 centering">
            <button class="button-wide">SUBMIT</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>