---
slug: promotions
layout_name: 2col
metadata:
  topSection:
    title: Our Promotions
    description: Being "focused on your future", we take very seriously the process we go through to decide which manufacturers we do business with and the ones we are going to represent in the future.
    imageUrl: http://dogwood.photography/images/photography-school.jpg
---

{% include 'promotions/top-section', meta: page.metadata.topSection %}
<br /><br />
<h1>Promotions Submit</h1>
{% render_form 'promotion', resource_type: 'promotions' %}
