---
slug: promotions
layout_name: 2col
metadata:
  key: promotions__page
  topSection:
    title: Our Promotions
    description: Being "focused on your future", we take very seriously the process we go through to decide which manufacturers we do business with and the ones we are going to represent in the future.
    imageUrl: http://dogwood.photography/images/photography-school.jpg
---

{% include 'top-section/top-section-pages', meta: page.metadata.topSection %}
{%- query_graph 'get_promotions', result_name: 'g' -%}

{% for event in g.customizations.results %}
  {%- assign properties = event.properties  -%}
  
{% endfor %}
<div class="cards-section container">
  <div class="filter-row row mb-4 justify-content-center justify-content-md-start">
    <div class="filter pl-md-3 col-xl-12 col-12 ml-md-4">
      <label class="mb-0 pr-3">BRAND FILTER:</label>
      <select id="top-filter" class="brand-filter" name="brand">
        <option value="select-all">Select all</option>
        <option value="eufora">Eufora</option>
        <option value="jbeverley">J Beverley</option>
        <option value="kevinmurphy">Kevin Murphy</option>
      </select>
    </div>
  </div>
  <div class="row">
    {% for i in (1..5) -%}
      {% include 'promotions/cards' -%}
    {% endfor -%}
    {% comment %} to remove bellow when data is connected {% endcomment %}
    <div id="kevinmurphy" class="card-wrapper col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-img-top" style="background-image: url()" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Elven March-April Promotion</h3>
          <p class="expire-date">EXP 25 SEP 2018</p>
          <a href="#" class="btn btn-primary">VIEW</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

