---
name: gallery_item
resource: Customization
resource_owner: anyone
configuration:
  properties:
    image_url:
    title:
      validation:
        presence: true
    description:
    detail_link:
    index:
---
{% assign f = form_builder -%}
<form action="{{f.action}}" method="{{f.method}}">
	{% include 'forms/fieldGroup', field: f.fields.properties.image_url, type: 'text', label: 'ImageURL' -%}
  {% include 'forms/fieldGroup', field: f.fields.properties.title, type: 'text', label: 'Title' -%}
  {% include 'forms/fieldGroup', field: f.fields.properties.description, type: 'textarea', label: 'Description' -%}
	{% include 'forms/fieldGroup', field: f.fields.properties.detail_link, type: 'text', label: 'Detail Link' -%}
  {% include 'forms/fieldGroup', field: f.fields.properties.index, type: 'text', label: 'Index' -%}
	{% include 'forms/systemFields', fields: f.system_fields -%}
	<input type="submit" class="button">
</form>

<script>console.log({{form|json}})</script>
