[data-choice] {
  height: 44px; // prevent content jumping
}

.choices {
  margin-bottom: 0.5em;

  // Turn off search for single select dropdowns
  &[data-type='select-one'] .choices__input {
    display: none;
  }

  .choices__inner {
    border-radius: 0;
    background-color: #fff;
    color: #000;
  }

  .choices__input {
  }
  .choices__input--cloned {
  }
  .choices__list {
  }
  .choices__list--multiple {
  }
  .choices__list--single {
  }
  .choices__list--dropdown {
  }
  .choices__item {
    color: #000;
  }
  .choices__item--selectable {
  }
  .choices__item--disabled {
  }
  .choices__item--choice {
  }
  .choices__group {
  }
  .choices__heading {
  }
  .choices__button {
  }
  .is-active {
  }
  .is-focused {
  }
  .is-open {
  }
  .is-disabled {
  }
  .is-highlighted {
  }
  .is-hidden {
  }
  .is-flipped {
  }
  .is-highlighted {
  }
}
