.flatpickr-calendar {
  border-radius: 0;
}

.flatpickr-calendar.inline {
  box-shadow: none;
}

.flatpickr-current-month .numInputWrapper {
  .arrowUp,
  .arrowDown {
    display: none;
  }
}

.datepicker-readonly .flatpickr-calendar .flatpickr-innerContainer {
  pointer-events: none;
}
