<div class="grid-x grid-padding-x">
	<div class="cell auto">
		<h3>Login</h3>
		{% render_form 'login' %}
	</div>
	<div class="cell auto">
		<h3>Create an Account</h3>
		{% render_form 'profile' %}
	</div>
</div>
