{% for error in errors -%}
	{% if errors[forloop.index0] != errors[forloop.index] -%}
		<small class="validation-message form-text"><span class="fas fa-times-circle"></span> {{error}}</small>
	{% endif -%}
{% endfor -%}
