<div class="top-gallery">
  <div class="left-section">
    <div class="text-section mb-5">
      <div class="title">{{meta.title}}</div>
      <div class="description">
        {{meta.description}}
      </div>
    </div>
  </div>
  <div class="right-section">
    <div class="bg-circle"></div>
    <div class="image-wrapper">
      <img src="{{meta.imageUrl}}">
    </div>
  </div>
</div>