<div id="eufora" class="card-wrapper col-lg-4 col-md-6 col-sm-12">
  <div class="card">
    <div class="card-img-top" style="background-image: url()" alt="Card image cap"></div>
    <div class="card-body">
      <h3 class="card-title">Elven March-April Promotion</h3>
      <p class="expire-date">EXP 25 SEP 2018</p>
      <a href="#" class="btn btn-primary">VIEW</a>
    </div>
  </div>
</div>