
{%- query_graph 'get_promotions', result_name: 'g' -%}

{% for event in g.customizations.results %}
  {%- assign properties = event.properties  -%}
  
{% endfor %}
<div class="cards-section container">
  <div class="row">
    <div class="card-wrapper col-lg-4 col-md-6 col-sm-12">
      <div class="card">
          <div class="card-img-top" style="background-image: url()" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Elven March-April Promotion</h3>
          <p class="expire-date">EXP 25 SEP 2018</p>
          <a href="#" class="btn btn-primary">VIEW</a>
        </div>
      </div>
    </div>
    <div class="card-wrapper col-lg-4 col-md-6 col-sm-12">
      <div class="card">
          <div class="card-img-top" style="background-image: url()" alt="Card image cap"></div>
          <div class="card-body">
            <h3 class="card-title">Elven March-April Promotion</h3>
            <p class="expire-date">EXP 25 SEP 2018</p>
            <a href="#" class="btn btn-primary">VIEW</a>
          </div>
      </div>
    </div>
    <div class="card-wrapper col-lg-4 col-md-6 col-sm-12">
      <div class="card">
          <div class="card-img-top" style="background-image: url()" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Elven March-April Promotion</h3>
          <p class="expire-date">EXP 25 SEP 2018</p>
          <a href="#" class="btn btn-primary">VIEW</a>
        </div>
      </div>
    </div>
    <div class="card-wrapper col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-img-top" style="background-image: url()" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Elven March-April Promotion</h3>
          <p class="expire-date">EXP 25 SEP 2018</p>
          
          <a href="#" class="btn btn-primary">VIEW</a>
        </div>
      </div> 
    </div>
    <div class="card-wrapper col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card">
          <div class="card-img-top" style="background-image: url()" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Elven March-April Promotion</h3>
          <p class="expire-date">EXP 25 SEP 2018</p>
          
          <a href="#" class="btn btn-primary">VIEW</a>
        </div>
      </div>
    </div>
  </div>
</div>
