
{%- query_graph 'get_promotions', result_name: 'g' -%}

{% for event in g.customizations.results %}
  {%- assign properties = event.properties  -%}
  
{% endfor %}
<div class="cards-section container">
  <div class="filter-row row mb-4 justify-content-center justify-content-md-start">
    <div class="filter pl-md-3 col-xl-12 col-12 ml-md-4">
      <label class="mb-0 pr-3">BRAND FILTER:</label>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        See all
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {% for i in (1..5) -%}
      {% include 'promotions/cards' -%}
    {% endfor -%}
  </div>
</div>
