<div class="flex-center">
  <div>
    <h1>{{meta.title}}</h1>
    <h2>{{meta.description}}</h2>
    <button class="medium">SIGN IN</button>
  </div>
  <img src="{{meta.imageUrl}}" style="width:500px;">
</div>