<div class="flex-center" style="padding-top:100px;">
  <div style="width: 50%">
    <h1>{{meta.title}}</h1>
    <h2>{{meta.description}}</h2>
  </div>
  <div style="width: 50%">
    <img src="{{meta.imageUrl}}" style="width:500px;">
  </div>
</div>
