<div class="cards-section container">
  <div class="row">
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card pt-5">
        <div class="badges mt-1">
          <h2><span class="badge badge-secondary badge-pill mr-2">2 PROMOTIONS</span></h2>
          <h2><span class="badge badge-secondary badge-pill mr-2">1 EVENTS</span></h2>
        </div>
        <div class="card-img-top product pt-5" style="background-image: url(https://i.imgur.com/qv4ZYPf.png);" alt="Card image cap">
        </div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3> 
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card pt-5">
        <div class="badges mt-1">
          <h2><span class="badge badge-secondary badge-pill mr-2">2 PROMOTIONS</span></h2>
          <h2><span class="badge badge-secondary badge-pill mr-2">2 EVENTS</span></h2>
        </div>
        <div class="card-img-top product" style="background-image: url(https://i.imgur.com/BNRvYPx.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card pt-5">
        <div class="badges mt-1">
          <h2><span class="badge badge-secondary badge-pill mr-2">1 PROMOTIONS</span></h2>
          <h2><span class="badge badge-secondary badge-pill mr-2">1 EVENTS</span></h2>
        </div>
          <div class="card-img-top product" style="background-image: url(https://i.imgur.com/12SMPi2.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
          
        </div>
      </div> 
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card pt-5">
        <div class="badges mt-1">
          <h2><span class="badge badge-secondary badge-pill mr-2">2 PROMOTIONS</span></h2>
          <h2><span class="badge badge-secondary badge-pill mr-2">1 EVENTS</span></h2>
        </div>
        <div class="card-img-top product" style="background-image: url(https://i.imgur.com/12SMPi2.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
          
        </div>
      </div>  
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card pt-5">
        <div class="badges mt-1">
          <h2><span class="badge badge-secondary badge-pill mr-2">2 PROMOTIONS</span></h2>
        </div>
          <div class="card-img-top product" style="background-image: url(https://i.imgur.com/ILPdiHG.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
          
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card pt-5">
        <div class="badges mt-1">
          <h2><span class="badge badge-secondary badge-pill mr-2">1 EVENTS</span></h2>
        </div>
          <div class="card-img-top product" style="background-image: url(https://i.imgur.com/c61KQW3.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
          
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card pt-5">
        <div class="badges mt-1">
          <h2><span class="badge badge-secondary badge-pill mr-2">2 PROMOTIONS</span></h2>
          <h2><span class="badge badge-secondary badge-pill mr-2">1 EVENTS</span></h2>
        </div>
          <div class="card-img-top product" style="background-image: url(https://i.imgur.com/P9UwSGG.png);" alt="Card image cap"></div>
          <div class="card-body">
            <h3 class="card-title">Product Data</h3>
          </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card pt-5">
          <div class="card-img-top product" style="background-image: url(https://i.imgur.com/c61KQW3.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card pt-5">
        <div class="card-img-top product" style="background-image: url(https://i.imgur.com/c61KQW3.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card pt-5">
          <div class="card-img-top product" style="background-image: url(https://i.imgur.com/c61KQW3.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card pt-5">
        <div class="card-img-top product" style="background-image: url(./img/product-2.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
        </div>
      </div>
    </div>
    <div class="card-wrapper col-xl-4 col-lg-6 col-md-6">
      <div class="card pt-5">
        <div class="card-img-top product" style="background-image: url(./img/product-2.png);" alt="Card image cap"></div>
        <div class="card-body">
          <h3 class="card-title">Product Data</h3>
        </div>
      </div>
    </div>
  </div>
</div>