<div class="description container">
  <div class="row justify-content-sm-center">
    <div class="text-section col-lg-3 col-sm-12 order-sm-2 order-2">
      <h2>The quality of the product has to be there. </h2>
      <p>We have a team of educators continually testing products for us. We established benchmark criteria and an evaluation system that each and every product needs to meet. We understand our salon owners and stylists have come to expect certain quality standards for the products they represent. Our businesses are linked together, and we are constantly analyzing new trends and technology to bring to the salons.</p>
    </div>
    <div class="image-wrapper col-sm-12 col-lg-3 order-sm-1 order-1">
      <div style="background-image: url(./img/products-top-image.png);"></div>
    </div>
  </div>
  <div class="row justify-content-sm-center  align-items-lg-center">
      <div class="image-wrapper col-sm-12 col-lg-3 order-sm-1 order-lg-3 order-1">
        <div style="background-image: url(./img/products-top-image.png);"></div>
      </div>
    <div class="text-section col-lg-3 col-sm-12 order-sm-2 order-2">
      <h2>There are hundreds of great quality product lines in our industry. </h2>
      <p>We have a team of educators continually testing products for us. We established benchmark criteria and an evaluation system that each and every product needs to meet. We understand our salon owners and stylists have come to expect certain quality standards for the products they represent. Our businesses are linked together, and we are constantly analyzing new trends and technology to bring to the salons.</p>
    </div>
  </div>
  <div class="row justify-content-sm-center align-items-lg-center">
    <div class="text-section col-lg-3 col-sm-12 order-sm-2 order-2">
      <h2>There is a strategic reason for each product line we carry. </h2>
      <p>We have a team of educators continually testing products for us. We established benchmark criteria and an evaluation system that each and every product needs to meet. We understand our salon owners and stylists have come to expect certain quality standards for the products they represent. Our businesses are linked together, and we are constantly analyzing new trends and technology to bring to the salons.</p>
    </div>
    <div class="image-wrapper col-sm-12 col-lg-3 order-sm-1 order-1">
      <div style="background-image: url(./img/products-top-image.png);"></div>
    </div>
  </div>
</div>