<div class="card-wrapper col-lg-4 col-md-6">
  <div class="card">
    <div class="card-img-top" style="background-image: url(./img/education-top.png)" alt="Card image cap">
      <span class="badge badge-primary mt-3 mr-3"><p class="day mb-0">20</p><p class="month pt-1 mb-0">MAY</p></span>
    </div>
    <div class="card-body container">
      <div class="row mb-4">
        <h3 class="card-title col-12 mt-4">Affinage Stylist Tool Box</h3>
      </div>
      <div class="location row pl-5 mb-4">
        <div class="col-10">
          <i class="fas fa-map-marker pr-2"></i>
          EVOLVE SALON SYSTEMS
          <p class="address mt-1 pl-4"> 252 Willow St, Manchester, NH  03103</p>
        </div>
      </div>
      <div class="time row pl-5 mb-4">
        <div class="col-10">
          <i class="far fa-clock pr-2"></i>
          10AM - 4PM
        </div>
      </div>
      <div class="seats row pl-5 mb-4">
        <div class="col-10">
          <i class="far fa-clock pr-2"></i>
          12 seats left
        </div>
      </div>
      <div class="row mt-5">
        <div class="more-details col-12">
          <a href="#" class="btn btn-primary">MORE DETAILS</a>
        </div>
      </div>
      {% comment %} <div class="location mt-5">
        <h5 class="building">
          <i class="fas fa-map-marker"></i>
          EVOLVE SALON SYSTEMS
        </h5>
        <p class="address">
          252 Willow St, Manchester, NH  03103
        </p>
      </div>
      <div class="time">
        <p><i class="far fa-clock"></i>10AM - 4PM</p>
      </div>
      <div class="seats">
        <p><i></i>12 seats left</p>
      </div> {% endcomment %}
      
    </div>
  </div>
</div>