<div class="account-menu d-flex">
  <ul class="account-menu-group">
    <li class="account-menu-item">
      <a href="#account-menu" class="account-menu-link dropdown-toggle active" data-toggle="collapse" aria-expanded="true">Your Account</a>
      <ul calss="account-menu-group collapse" id="account-menu">
        <li class="account-menu-item">
          <a class="account-menu-link-1" href="#">Your Addresses</a>
        </li>
        <li class="account-menu-item">
          <a class="account-menu-link-1" href="#">Payment Options</a>
        </li>
        <li class="account-menu-item ">
          <a class="account-menu-link-1 active" href="#login" data-toggle="collapse">Login & Security</a>
        </li>
      </ul>
    </li>

    <li class="account-menu-item">
      <a class="account-menu-link" href="#">Your Orders</a>
    </li>
    <li class="account-menu-item">
      <a class="account-menu-link" href="#">Memberships</a>
    </li>
    <li class="account-menu-item">
      <a class="account-menu-link" href="#">Certificates</a>
    </li>
    <li class="account-menu-item">
      <a class="account-menu-link" href="#">Sign Out</a>
    </li>
  </ul>
</div>